/* ------- Reset Css -----*/
*,
a,
li {
  margin: 0%;
  padding: 0%;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}
img {
  max-width: 100%;
}

/* ------- Size icons navbar ------- */
.material-icons-outlined.md-36 {
  font-size: 25px;
  color: var();
}
